catalogues
__pycache__
.ropeproject
deepfrier/.ropeproject

# projects
pred_cmaps_benchmark
tasks.txt
rosetta_aupr_perf.py
random5k
new_pdb
old_slurm
ncov2019
sifts_models
results


# models
trained_models/*
newest_trained/*
alphafold2
DeepFRI.egg-info/*
build/*
newest_trained_models.tar.gz
DeepFRI_MF_pred_scores.json
DeepFRI_MF_predictions.csv